@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "Proxima Nova";
    src: url(fonts/Proxima/Fontspring-DEMO-proximanovacond-blackit.otf);
}